.title{
    position: relative;
    z-index: 1;
}

.title>h1{
    font-weight: 600;
    font-size:6rem;
    line-height: 6rem;
}

.image-container {

    width: 30rem;
    height: 30rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgba(142, 72, 54, 0.685);
    position: calc(130vh - 10rem);

}

.orange-circle{
    height: 7rem;
    width: 7rem;
    background: orange;
    position: absolute;
    border-radius: 999px;
    right: 28%;
    top: 0px;
    z-index: -1;
    
}


.image-container>img {
    width: 100%;
    height: 100%;

}

.hero-right {
    display: flex;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: calc(125vh - 10rem);
    height: calc(69vh - 5rem);
}


.title {
    width: calc(125vh - 10rem);
    height: calc(50vh - 5rem);
}